<!DOCTYPE HTML>
<html lang="de">

<head>
  <title>{{if .ForumName}}{{.ForumName}} - {{end}}DiscussionGo!</title>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow"/>
  <meta name="author" content="Marcus Soll"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="author" href="https://msoll.de/">
  <link rel="stylesheet" href="{{.ServerPath}}/css/discussiongo.css">
  <link rel="icon" type="image/vnd.microsoft.icon" href="{{.ServerPath}}/static/favicon.ico">
</head>

<body>
  <header>
    <div style="margin-left: 1%">
      {{if .ForumName}}{{.ForumName}} - {{end}}DiscussionGo!
    </div>
  </header>

  <div>
    <h1><a href="{{$.ServerPath}}/">Zurück</a></h1>
  </div>

  <div>
    <h1>Datenschutzerklärung</h1>
    <p>Diese Website ist Datenschutzfreundlich erstellt. Trotzdem müssen für den Betrieb einige Daten erhoben werden. Diese werden aber grundsätzlich nicht ohne Ihre Einwilligung mit anderen geteilt.</p>
    
    <h2>Protokollierung</h2>
    <p>Für den sicheren und stabilen Betrieb der Website werden technische Daten sowie Zugriffsdaten (darunter unter Umständen IP-Addresse, Zugriffszeit und Zugriffsziel) gesammelt. Die Verabeitung dieser Daten erfolgt auf Grund von berechtigten Interessen des Verantwortlichen (DSGVO Art. 6). Diese Daten werden ausschließlich für den technischen Betrieb gesammelt und nicht an Dritte weiter gegeben. Sie werden gelöscht, sobald sie für den Betrieb der Website nicht mehr benötigt werden.</p>
    
    <h2>Registrierung</h2>
    <p>Mit der Registrierung werden die von Ihnen übermittelten Daten auf Grund ihrer Einwilligung verarbeitet (DSGVO Art. 6), solange Sie dieses Forum nutzen. Die Passwörter werden nach aktuellen Standards gespeichert, so dass diese nicht im Klartext vorliegen. Sollten sie eingeladen worden sein, so wird auch gespeichert, wer sie eingeladen hat (auch indirekt).</p>

    <h2>Einladungen</h2>
    <p>Sie haben unter umständen die Möglichkeit, Einladungen an andere Benutzer zur erstellen. In diesem Fall wird ihr Benutzer zusammen mit der Einladung gespeichert. Dieser wird auch dem eingeladenen Benutzer angezeigt. Genauso wird bei dem eingeladenen Benutzer gespeichert, wer ihn eingeladen hat (auch indirekt). Diese Daten werden auf Grund ihrer Einwilligung verarbeitet (DSGVO Art. 6), solange Sie eine Einladung erstellen.</p>

    <h2>Forum</h2>
    <p>Für einige Funktionen des Forums müssen Metadaten gesammelt werden. Diese Daten können insbesondere auch für die Administratoren sichtbar sein. Mit der Benutzung des Forums erklären sie sich mit der Sammlung dieser Metadaten einverstanden, diese werden auf Grund ihrer Einwilligung verarbeitet (DSGVO Art. 6).</p>
    <p>Sollten Sie in diesem Forum Daten eingeben, so werden die von Ihnen übermittelten Daten auf Grund ihrer Einwilligung verarbeitet (DSGVO Art. 6), solange Sie dieses Forum nutzen. Diese Daten werden Dritten durch Anzeigen zugänglich gemacht, soweit dies im Forum eingestellt wird.</p>
    
    <h2>Kontaktieren</h2>
    <p>Sollten Sie uns kontaktieren, so werden die von Ihnen übermittelten Daten auf Grund ihrer Einwilligung verarbeitet (DSGVO Art. 6) und so lange wie benötigt gespeichert. Die Daten werden nicht mit Dritten geteilt, es sei denn, dies ist für die Bearbeitung explizit notwendig (in diesem Fall werden Sie entsprechend informiert).</p>

    <h2>Ihre Rechte</h2>
    <p>Sie haben folgende Rechte:</p>
    <ul>
      <li>Sie haben das Recht, Auskunft über Ihre gespeicherten Daten zu bekommen. (DSGVO Art. 15)</li>
      <li>Sie haben das Recht, falsche Daten zu berichtigen. (DSGVO Art. 16)</li>
      <li>Sie haben das Recht, Ihre Daten Löschen zu lassen. (DSGVO Art. 17)</li>
      <li>Sie haben das Recht, die Verarbeitung Ihrer Daten Einschränken zu lassen. (DSGVO Art. 18)</li>
      <li>Sie haben das Recht, Ihre Daten in einer übertragbaren Form zu bekommen. (DSGVO Art. 20)</li>
      <li>Sie haben das Recht, jederzeit der Verarbeitung Ihrer Daten zu wiedersprechen. Dadurch entstehen Ihnen keine Nachteile. (DSGVO Art. 21)</li>
      <li>Sie haben das Recht, jederzeit bei einer Aufsichtsbehörde eine Beschwerde einzulegen. (DSGVO Art. 77)</li>
    </ul>
    
    <h2>Verantwortliche Stelle</h2>
    <p>{{.DSGVOResponisble}}</p>
  </div>

  <div>
    <h1><a href="{{$.ServerPath}}/">Zurück</a></h1>
  </div>
  
  <footer>
    <div>
      Created by <a href="https://msoll.de/"><u>Marcus Soll</u></a> - <a href="{{.ServerPath}}/impressum.html"><u>Impressum</u></a> - <a href="{{.ServerPath}}/datenschutz.html"><u>Datenschutzerklärung</u></a>
    </div>
  </footer>
</body>

</html>