<!DOCTYPE HTML>
<html lang="{{.Translation.Language}}">

<head>
  <title>{{if not .LoggedIn}}Login - {{if .ForumName}}{{.ForumName}} - {{end}}DiscussionGo!{{else}}Logout - {{if .ForumName}}{{.ForumName}} - {{end}}DiscussionGo{{end}}</title>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow"/>
  <meta name="author" content="Marcus Soll"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="author" href="https://msoll.eu/">
  <link rel="stylesheet" href="{{.ServerPath}}/css/discussiongo.css">
  <link rel="icon" type="image/vnd.microsoft.icon" href="{{.ServerPath}}/static/faviconStar.ico">
  <link rel="icon" type="image/svg+xml" href="{{.ServerPath}}/static/Star.svg" sizes="any">
</head>

<body>
  <header>
    <div style="margin-left: 1%">
      {{if .ForumName}}{{.ForumName}} - {{end}}DiscussionGo!
    </div>
  </header>

  <div class="flex-container">
    
    {{if or .RegisterPossible .LoggedIn}}
    <div class="flex-item">
      <h1><a href="{{$.ServerPath}}/">{{.Translation.Back}}</a></h1>
    </div>
    {{end}}

    {{if not .LoggedIn}}
    <div class="even flex-item">
      <h1>{{.Translation.Login}}</h1>
      <form id="login" action="{{.ServerPath}}/login/" method="POST">
          <input type="hidden" name="token" value="{{.Token}}">
          <p><label for="name">{{.Translation.Name}}:</label></p>
          <p><input id="name" type="text" name="name" placeholder="{{.Translation.Name}}" required autofocus></p>
          <p><label for="pw">{{.Translation.Password}}:</label></p>
          <p><input id="pw" type="password" name="pw" placeholder="{{.Translation.Password}}" required></p>
          <p><input type="submit" id="submitButton" value="{{.Translation.Login}}"></p>
      </form>
      {{if .RegisterPossible}}
      <p><a href="{{.ServerPath}}/register.html">{{.Translation.RegisterNow}}</a></p>
      {{end}}
    </div>

    <script>
      if(!document.hasFocus()) {
        var notification = new Notification("{{if .ForumName}}{{.ForumName}} - {{end}}DiscussionGo!\n{{.Translation.LoginRequired}}", {"icon": "{{.ServerPath}}/static/Logo.svg"});
      }
      window.sessionStorage.removeItem("{{.ServerPath}} send notification");
    </script>

    {{else}}
    <div class="even flex-item">
        <h1>{{.Translation.Logout}}: {{.Username}}</h1>
        <form id="logout" action="{{.ServerPath}}/logout/" method="POST">
          <input type="hidden" name="token" value="{{.Token}}">
          <p><input type="submit" id="submitButton" value="{{.Translation.Logout}}"></p>
        </form>
    </div>
    {{end}}
  
  </div>

  <footer>
    <div>
      {{.Translation.CreatedBy}} <a href="https://msoll.eu/"><u>Marcus Soll</u></a> - <a href="{{.ServerPath}}/impressum.html"><u>{{.Translation.Impressum}}</u></a> - <a href="{{.ServerPath}}/datenschutz.html"><u>{{.Translation.PrivacyPolicy}}</u></a>
    </div>
  </footer>
</body>

</html>
