<!DOCTYPE HTML>
<html lang="{{.Translation.Language}}">

<head>
  <title>{{if .ForumName}}{{.ForumName}} - {{end}}DiscussionGo!</title>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow"/>
  <meta name="author" content="Marcus Soll"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="author" href="https://msoll.eu/">
  <link rel="stylesheet" href="{{.ServerPath}}/css/katex.min.css">
  <link rel="stylesheet" href="{{.ServerPath}}/css/vs.css">
  <link rel="stylesheet" href="{{.ServerPath}}/css/discussiongo.css">
  <link rel="icon" type="image/vnd.microsoft.icon" href="{{.ServerPath}}/static/favicon.ico">
  <script src="{{.ServerPath}}/js/katex.min.js"></script>
  <script src="{{.ServerPath}}/js/auto-render.min.js"></script>
  <script src="{{.ServerPath}}/js/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>

<body>
  <header>
    <div style="margin-left: 1%">
      {{if .ForumName}}{{.ForumName}} - {{end}}DiscussionGo!
    </div>
  </header>

  <script>
    var stopClosingWindow = true;
    var contentChanged = false;

    window.addEventListener('beforeunload', function (e) {
      var ta = document.getElementById("textarea");
      if(contentChanged && stopClosingWindow && ta !== null && ta.value != "{{.CommentUnescaped}}"){
        e.preventDefault();
        e.returnValue = '';
      }
    });
  </script>

  <div>
    <h1><a href="{{.ServerPath}}/">{{.Translation.Back}}</a></h1>
  </div>

  <div>
      <h1>{{.Translation.User}}</h1>
      <p>{{.Translation.Name}}: {{.User}}</p>
      {{if .IsAdmin}}<p><strong>{{.Translation.UserIsAdministrator}}</strong></p>{{end}}
      <p>{{.Translation.LastActicity}}: <i>{{.LastSeen}}</i></p>
      <p><a href="{{.ServerPath}}/profile.html?user={{.User}}">{{.Translation.Profile}}</a></p>
      <p><a href="{{.ServerPath}}/login.html">{{.Translation.Logout}}</a></p>

      <h1 id="comment">{{.Translation.Comment}}</h1>
      <script>
        function showPreview() {
          var ta = document.getElementById("textarea")
          if(ta.value.length == 0) {
            var preview = document.getElementById("preview")
            preview.innerHTML = ""
            return
          }
          var form = new FormData();
          form.append("post", ta.value);
          form.append("token", "{{.Token}}");
          var xhr = new XMLHttpRequest();
          xhr.timeout = 10000;
          xhr.open("POST", "{{$.ServerPath}}/getFormattedPost/", true);
          xhr.onload = function() {
            var preview = document.getElementById("preview")
            preview.innerHTML = xhr.response;
            renderMathInElement(preview);
            preview.querySelectorAll('pre code').forEach((block) => {
              hljs.highlightBlock(block);
            });
          };
          xhr.ontimeout = function() {
            document.getElementById("preview").textContent = {{.Translation.ErrorOccured}};
          };
          xhr.onerror = function() {
            document.getElementById("preview").textContent = {{.Translation.ErrorOccured}};
          };
          xhr.send(form);
        }
      </script>
      {{if .HasComment}}
      <p>{{.Translation.CurrentComment}}:</p>
      <div class="comment">
        {{.Comment}}
      </div>
      {{end}}
      <div id="preview"></div>
      <p><button onclick="showPreview();">{{.Translation.Preview}}</button></p>  
      <form id="changeComment" action="{{.ServerPath}}/comment.html" method="POST">
        <input type="hidden" name="token" value="{{.Token}}">
        <textarea id="textarea" name="comment" rows="5" form="changeComment" placeholder="{{.Translation.Comment}}" maxlength="10000" onchange="contentChanged = true;">{{.CommentUnescaped}}</textarea> <br>
        <input type="submit" id="commentSubmitButton" value="{{.Translation.ChangeComment}}" onclick="stopClosingWindow = false;">
      </form>

      <form id="changePassword" action="{{.ServerPath}}/password.html" method="POST">
        <input type="hidden" name="token" value="{{.Token}}">
        <h1>{{.Translation.ChangePassword}}</h1>
        <label for="old">{{.Translation.OldPassword}}:</label> <br>
        <input id="old" type="password" name="old" placeholder="{{.Translation.OldPassword}}" required> <br>
        <label for="new">{{.Translation.NewPassword}}:</label> <br>
        <input id="new" type="password" name="new" placeholder="{{.Translation.NewPassword}}" required> <br>
        <input type="submit" id="submitButton" value="{{.Translation.ChangePassword}}">
      </form>
  </div>

  {{if .CanInvite}}
  <div id="inv">
      <h1>{{.Translation.Invitations}}</h1>
      <p>{{.Translation.OpenInvitations}}:</p>
      <ul>
      {{range $i, $e := .Invitations }}
        <li>{{$.ServerPrefix}}/invitation.html?inv={{$e}}<p><button onclick="document.getElementById('deleteInv{{$e}}').removeAttribute('hidden'); this.disabled=true">{{$.Translation.DeleteInvitation}}</button></p><p id="deleteInv{{$e}}" hidden><a href="{{$.ServerPath}}/deleteInvitation.html?id={{$e}}&token={{$.Token}}">{{$.Translation.DeleteInvitation}}</a></p></li>
      {{end}}
      </ul>
    {{if .CreateInvitationMessage}}<p><i>{{.CreateInvitationMessage}}</i></p>{{end}}
    <form id="newInvitation" action="{{.ServerPath}}/newInvitation.html" method="POST">
      <input type="hidden" name="token" value="{{.Token}}">
      <input type="submit" id="submitButton" value="{{.Translation.NewInvitation}}">
    </form>
  </div>
  {{end}}

  <div>
    <h1>{{.Translation.ExportDataShort}}</h1>
    <p><a href="{{$.ServerPath}}/dsgvoExport.xml?token={{.Token}}" download="export_{{.User}}.xml">{{.Translation.ExportDataLong}}</a></p>
  </div>

  <div>
    <h1>{{.Translation.DeleteUser}}</h1>
    <p><button onclick="document.getElementById('deleteLink').removeAttribute('hidden'); this.disabled=true">{{.Translation.DeleteUser}}</button></p>
    <p id="deleteLink" hidden><a href="{{$.ServerPath}}/deleteUser.html?user={{.User}}&token={{.Token}}">{{.Translation.DeleteUserWarning}}</a></p>
  </div>

  <div>
    <h1><a href="{{.ServerPath}}/">{{.Translation.Back}}</a></h1>
  </div>

  <script>
    var elements = document.getElementsByClassName("comment");
    for(var i = 0; i < elements.length; i++) {
      renderMathInElement(elements[i]);
    }
  </script>

  <footer>
    <div>
      {{.Translation.CreatedBy}} <a href="https://msoll.eu/"><u>Marcus Soll</u></a> - <a href="{{.ServerPath}}/impressum.html"><u>{{.Translation.Impressum}}</u></a> - <a href="{{.ServerPath}}/datenschutz.html"><u>{{.Translation.PrivacyPolicy}}</u></a>
    </div>
  </footer>
</body>

</html>